
* { box-sizing: border-box;
   margin: 0;
    padding: 0;
   }


body {
  display: flex; 
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
   font-family: Arial, sans-serif;
  background: #f0f0f0;
  height: 100vh;
}


.container {
  background: white;
   padding: 20px; 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  
  width: 100%; 
  max-width: 400px;
  height: 80vh;
}

h2 
{ text-align: center;
   margin-bottom: 10px; }


.input-area {
  display: flex;
   margin-bottom: 15px;
   margin-top: 25px;
}

#taskInput {
  flex: 1; padding: 10px; 
  font-size: 16px;
   border: 1px solid #ccc;
  border-radius: 4px 0 0 4px; 
  outline: none;
  

}
#addBtn {
  padding: 10px 20px; 
  font-size: 16px; border: none;
  background: #28a745;
   color: white; cursor: pointer;
  border-radius: 0 4px 4px 0;
  
}
#addBtn:hover 
{ background: #218838; }

#taskList 
{ list-style: none; }

#taskList li {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  padding: 10px;
   margin-bottom: 8px;
  background: #f9f9f9; 
  border-radius: 4px;
}

#taskList li:nth-child(odd) 
{ background: #eef; }

li .text
 { flex: 1;
   cursor: pointer; }

li .delete, li .edit 
{
  margin-left: 10px;
   cursor: pointer;
  background: none; 
  border: none;
   font-size: 18px;
}

li .delete:hover 
{ color: #dc3545; }

li .edit:hover 
{ color: #007bff; }

li.completed .text 
{ text-decoration: line-through; 
  color: #888; }
